/* MAQUETADO RESPONSIVE
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    /*1. color*/
    --green-brand: #7952B3;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey-text: #343A40;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'DM Sans', sans-serif;
    }

    header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 320;
        height: auto;
        text-align: center;
        background: linear-gradient(207.8deg, #201E1C 16.69%, #8AF00C 100%);
    }

    header img {
        padding-top: 30px;
        width: 150px;
        height: 100px;
        margin-top: 60px;
        align-self: center;
    }

    .header--title-container {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 35px;
        text-align: center;
        align-self: center;
    }

    .header--title-container h1 {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--white);
    }

    .header--title-container p {
        margin-top: 25px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: .3rem;
        color: var(--off-white);
    }

    .header--title-container .header--button {
        position: absolute;
        left: calc(50% - 116px);
        top: 355px;
        display: block;
        margin-top: 35px;
        padding: 15px;
        width: 229px;
        height: 48px;
        background-color: var(--off-white);
        /*sobra*/
        box-shadow: 0px 4px 8px rgba(89, 73,30, 0.16);
        border: none;
        border-radius: 20px;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--black);
    }

    .header--button span {
        display: inline-block;
        width: 13px;
        height: 8px;
        margin-left: 10px;
        background-image: url('./assets/icons/arrow-down.svg');
    }
    main {
        width: 100%;
        height: auto;
        background-color: #dff7c2
    }
    .main-information-container {
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 30px;
        text-align: center;
    }
    .main-information-container--title {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        margin: 0 auto;
    }
    .main-information-container .backgroundImg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: -50px;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 50px;

        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-information-container h2 {
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
    }
    .main-information-container p {
        margin-bottom: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        color: #1a1d17;
    }

    /* BEM method: When I need to make a special selector "__" is the way to name the clas
    block, eement and modifier*/

    .main-information-table {
        padding-top: 40px;
        width: 100%;
        min-width: 235px;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        font-family: "Inter", sans-serif;
    }
    .main-information-table .information-table--title  {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: #343A40;
    }

    .main-information-table .information-table--title2  {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: #343A40;
    }

    .information-table--container {
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }
    .information-table--container table {
        width: 100%;
        height: 100%;
    }
    .information-table--container td {

        width: 45%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        color: var(--grey-text);
        background-color: var(--white);
    }

    .information-table--container .table__top-left {
        border-radius: 15px 0 0 0;
    }
    .information-table--container .table__top-right {
        border-radius: 0 15px 0 0;
    }
    .information-table--container .table__bottom-left {
        border-radius: 0 0 0 15px ;
    }
    .information-table--container .table__bottom-right {
        border-radius: 0 0 15px 0 ;
    }
    .information-table--container .table__right{
        padding: 10px;
        text-align: left;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1.7rem;
        color: #757575;
    }

    .main-foda-detail {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px;
        background-color:whitesmoke;
    }

    .foda-detail--certificates-logo {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -15px;
        left: calc(50% - 20px);
        background-image: url(./asset/img/certificates1.svg);
        background-repeat: no-repeat;
    }

    .foda-detail--title {
        display: flex;
        justify-content: center;
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        text-align:left;
    }

    .foda-detail--title h2{
        margin-top: -30px;
        margin-bottom: 20px;
        font-size: 3.6rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: #3A3535;
    }

    .foda-detail--title span {
        color:var(--secondary-blue);
    }

    .foda-detail-card {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        min-height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: #bcf577 ;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }

    .foda-detail-card .weak {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url(./asset/icons/down.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .foda--card-title  {
        position: absolute;
        margin-top: -30px;
        margin-left: 30px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--warm-black);
    }

    .foda--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #2a2a2a
    }

    .foda-detail-card ul li {
        list-style: none;
    }

    .foda-detail-card .threat {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url(./asset/icons/warning.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .foda-detail-card .strength {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url(./asset/icons/weight.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .foda-detail-card .opportunities {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        background-image: url(./asset/icons/stairs.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .certificates-button {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 20px;
    }

    .desings-img-container {
        width: 100%;
        min-width: 320px;
        height: 50vh;
        background-image: url("./asset/img/Banner\ profile.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    .desings-img-container h2 {
        padding-top: 140px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--white);
    }

    .main-desings-container {
        width: 100%;
        min-width: 320px;
        padding-bottom: 70px;
        text-align: center;
    }

    .desings--title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .desings--title h2 {
        padding-top: 50px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
    }

    .desings--title p {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #757575;
    }

    .desings-container--slider{
        display: flex;
        height: 316px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }

    .desings-container--card {
        position: relative;
        scroll-snap-align: center;
        width: 80%;
        min-width: 190px;
        max-width: 300px;
        height: 250px;
        margin: 50px 5px 0;
        padding: 0 15px;
        background-color: #757575;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    }

    .desings-container--card2 {
        position: relative;
        scroll-snap-align: center;
        width: 70%;
        min-width: 190px;
        max-width: 300px;
        height: 250px;
        margin: 50px 5px 0;
        padding: 0 15px;
        background-color: #A0796A;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    }

    .desings-container--card3 {
        position: relative;
        scroll-snap-align: center;
        width: 70%;
        min-width: 190px;
        max-width: 300px;
        height: 250px;
        margin: 50px 5px 0;
        padding: 0 15px;
        background-color: #FAE737;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    }

    .recomended{
        position: absolute;
        width: 120px;
        height: 31px;
        top: -15px;
        left: calc(50% - 60px);
        font-size: 1.2rem;
        padding: 6px;
        background-color: var(--green-brand);
        border-radius: 8px;
        color: var(--white);
    } /*--------- aqui comienza la tarjeta general*/

    .desing-card--title {
        text-decoration: none;
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: white;
    }

    .desing-card--logo {
        display: inline-block;
        width: 80%;
        height: 20px;
        margin-bottom: -50px;
        background-image: url(./Batatabit/assets/imgs/logo.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .desing-card--logo2 {
        display: inline-block;
        width: 50%;
        height: 90px;
        margin-bottom: -90px;
        background-image: url(./asset/img/PPT-game.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .desing-card--logo3 {
        display: inline-block;
        width: 45%;
        height: 90px;
        margin-bottom: -90px;
        background-image: url(./asset/img/MOKEPON.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .desing-card-saving {
        padding-top: 80px;
        font-size: 1.2rem;
        color: #000000;
    }

    .desing-card--ca {
        width: 150px;
        height: 48px;
        margin-top: 15px;
        background-color: #faf8f7;
        border: 2px solid #757575;
        border-radius: 20px;
        font-family: 'DM Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        text-decoration: none;
        color: var(--black);
    }

    .desing-card--ca:hover {
        box-shadow: 0 1px 6px 0 #20212447;
        border-color: #dfe1e500;
    }

    .desing-card--ca span{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url();
        vertical-align: text-bottom;
    }

    footer {
        display: flex;
        width: 100%;
        height: auto;
        background-color: #8AF00C;
    }

    .right section {
        display: inline-block;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .left section {
        display: flex;
    }

    footer {
        justify-content: center;
    }

    footer .right ul {
        display: flex;
        padding: 15px 10px;
        margin-left: 120px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        list-style: none;
    }

    .github-logo {
        margin-top: 4px;
    }

    .right a {
        text-decoration: none;
        color: var(--white);
    }

    .left {
        display: inline-block;
    }

    .profetional-photo img {
        position: relative;
        margin: 10px 10px;
    }

    .profetional-title {
        position: absolute;
        margin-top: -50px;
        margin-left: 65px;
    }

    .left img {
        width: 50px;
        height: 50px;
    }


